*{
    font-family: fantasy;
}
body{

    background-size: cover;
    animation: colorchange 60s;
    animation-iteration-count: infinite;
    background-image: url("BG.jpg");
}
@keyframes colorchange
    {
      0%    {background: rgb(47, 148, 231, 0.9)}
      25%   {background: rgb(247, 52, 117, 0.9);}
      50%   {background: rgb(182, 73, 255, 0.9);}
      75%   {background: rgb(46, 185, 127, 0.9);}
      100%  {background: rgb(47, 148, 231, 0.9);}
    }
/*.color-overlay{
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.7;
    position: absolute;
    justify-content: center;
    align-items: center;
}*/
.head
{
    font-size: 10em;
    color: aliceblue;
    margin: 150px 40px;
    animation: fadeInLeft 3s ease-out;
    animation-iteration-count: initial;
}
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
.navbar
{
    opacity: 30%;
}
.navbar:hover
{
    opacity: 85%;
}
.jumbotron{
    background-color: rgb(235, 245, 253, 0.5);
}

