*{
    font-family: Century Gothic;
    color: white;
    font-size: 15pt;
}
#mainpage{
    background-size: cover;
    background-color: #0e2773;
    background-position: left;
    background-image: url(BG.png);
}
.nav{
    justify-content: right;
}
#titlepic{
    height: 750px;
    padding: 19px;
}
.nav-item{
    border: 1px solid #bf1736;
    margin: 5px;
}
.nav-item:hover {
        border: 1px solid #bf1736;
        background-color: #bf1736;
        margin: 5px;
        color: white;
        transition: ease-out 0.1 s;
}
.nav-link{
    color: white;
    font-size: 12px;
}